<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pool Party</title>

    <script>
      // BOOTSTRAP DATA
      //
      var sd = window.golfDraftSeed = {};
      sd.CDN_URL = '{{cdnUrl}}';

      sd.golfers = {{{golfers}}};
      sd.users = {{{users}}};
      sd.draft = {{{draft}}};
      sd.tourneyStandings = {{{tourneyStandings}}};
      sd.tourney = {{{tourney}}};
      sd.userPickList = {{{userPickList}}};
      sd.pickListUsers = {{{pickListUsers}}};
      sd.appState = {{{appState}}};
      sd.user = {{{or user "null"}}};
      sd.allTourneys = {{{allTourneys}}};
      sd.activeTourneyId = '{{activeTourneyId}}';
    </script>
  </head>
  <body>
    <section id="golfdraftapp" />
  </body>
</html>
